@CHARSET "ISO-8859-1";

.outer{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	box-shadow:
		5px 0px 10px grey, 
		-5px 0px 10px grey;
	width: 100%;
	max-width: 768px;
	padding: 20px;
	background: #eee0dd;
}

body{
	margin: 0px;
}
