@CHARSET "ISO-8859-1";

.unread {
	background: #e39786;
}

.read{
	background: #eeeeee;
}

.unread:hover{
	background: #d38a79;
}

.read:hover{
	background: #dddddd;
}

table{
	padding-top: 82px;
	border-spacing: 0px;
	width: 100%;
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
	box-shadow:
		5px 0px 10px grey, 
		-5px 0px 10px grey;
}

td{
	padding-left: 5px;
	padding-right: 5px;
}

#from {
	width: 30%;
}

#subject{
	width: 40%;
}

#date, #action, #times, #score, #champion{
	width: 15%;
}

#name, #creator{
	width: 20%;
}

.centered{
	text-align: center;
}

.header{
	text-align: center;
	position: fixed;
	background: rgba(192, 192, 192, .8);
	width: 100%;
	box-shadow: 0px 3px 6px #999999;
}

body{
	margin: 0px;
	font-family: "Arial" "Sans-Serif";
}

input{
	cursor: pointer;
}

.compose{
	position: fixed;
	margin-top: 52px;
	background: #d84020;
	margin-left: 50px;
	padding: 5px;
	border-radius: 10px;
}

.homepage{
	position: fixed;
	margin-top: 52px;
	background: #aaaaaa;
	margin-left: 260px;
	padding: 5px;
	border-radius: 10px;
}

.compose:hover{
	background: #c83b1e;
	font-weight: bold;
	margin-left: 47px;
}

.homepage:hover{
	background: #888888;
	font-weight: bold;
	margin-left: 257px;
}

a.new {
	color: black;
	text-decoration: none;
}

a:hover {
	background: #e39786;
}

a:visited {
	color: #2080d8;
	text-weight: bold;
}

a {
	color: #d84020;
	text-decoration: none;
}

.compose>a, .homepage>a{
	color: black;
}

.compose>a:hover, .homepage>a:hover{
	background: inherit;
}