@CHARSET "ISO-8859-1";

.wrapper{
	margin-left: auto;
	margin-right: auto;
	padding-top: 82px;
	display: block;
	width: 100%;
	max-width: 1024px;
	background: #eeeeee;
	box-shadow:
		5px 0px 10px grey, 
		-5px 0px 10px grey;
}

body{
	margin: 0px 0px 0px 0px;
	height: 100%;
	background: #ffffff;
	font-family: "Arial" "Sans-Serif";
}

h1{
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	padding-top: 0.67em; 
	padding-bottom: 0.67em;
	font-size: 2em;
	margin-top: 0px;
	margin-bottom: 0px;
}

textarea{
	max-width: 1004px;
	font-family: inherit;
}

.header {
	background: rgba(192, 192, 192, .8);
	display: block;
	text-align: center;
	position: fixed;
	width: 100%;
	box-shadow: 0px 3px 6px #999999;
}

form {
	margin: 0px 5px 0px 5px;
	padding-top: 10px;
}

input[type="radio"]{
	cursor: pointer;
}

input[type="radio"]:checked{
	width: 20px;
}

input[type="radio"]:hover+label{
	background: #e39786;
}

.button {
	width: 20%;
	border-radius: 3px;
	background: #d84020;
	min-width: 146px;
	font-size: 1.25em;
}

.inner{
	margin-bottom: 15px;
	margin-top: 5px;
}

.wrong{
	background: #cc8888;
}

.right{
	background: #88cc88;
}

.centered{
	text-align: center;
}

.homepage:hover{
	background: #888888;
	font-weight: bold;
	margin-left: 47px;
}

.homepage{
	position: fixed;
	margin-top: 52px;
	background: #aaaaaa;
	margin-left: 50px;
	padding: 5px;
	border-radius: 10px;
}

a {
	color: #d84020;
	text-decoration: none;
}

.homepage>a{
	color: black;
}

.homepage>a:hover{
	background: inherit;
}